.entry-title {
	display: inline-block;
	vertical-align: middle;
}

.entry-title--truncated {
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 80%;
}
